@font-face {
  font-family: "Norse-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf")
} 

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

#left {
  background: url("https://images.unsplash.com/photo-1685115755336-c488e27084a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1031&q=80") rgb(248, 248, 171) no-repeat;
  width: 30%;
  display: block;
  height: auto;
  max-height: 100%;
}

.logo {
  display: flex;
  height: 100px;
  font-family: "Norse-Bold", sans-serif;
  font-size: 4.5rem;
  color:aliceblue;
  background-color: rgba(0,0,0,0.25);
  align-items: center;
}

.name {
  text-align: center;
}

.odin {
  height: 5rem;
}

#main {
  display: flex;
}