@font-face {
  font-family: "Norse-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf")
} 

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color:rgb(230, 223, 238);

}

#main {
  display: flex;
}

#left {
  background: url("https://images.unsplash.com/photo-1685115755336-c488e27084a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1031&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 100vh; 
}

.logo {
  width: 500px;
  top: 8rem;
  background: rgba(0,0,0,0.25);
  height: 6rem;
  margin-top: 10rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.logo-content {
  display: flex;
  align-items: center;
}

.name {
  display: block;
  margin-left: 0;
  margin-right: auto;
  font-family: "Norse-Bold", sans-serif;
  font-size: 4.5rem;
  color: aliceblue;
}

.odin {
  display: block;
  margin-left: auto;
  margin-right: 0;
  height: 5rem;
}

.photo-credit {
  color: aliceblue;
  font-size: 0.5em;
  width: inherit;
  position: fixed;
  padding: 10px 0;
  bottom: 0;
  justify-content: center;
  text-align: center;
}

#right {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 7.5rem;
  margin-left: 2.5rem;
  margin-right: 10rem;

}

.hero,
.callToAction {
  font-weight: bold;
}

.left-form,
.right-form {
  font-size: 0.6rem;
  color: rgb(78, 77, 77);
}

.form-container {
  display: flex;
  margin: 0;
}

label,
input {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 4px;
  height: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:invalid {
  border-color: red;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 5rem;
}

li {
  padding-bottom: 1rem;
}

.button {
  display: block;
  background-color: rgb(182, 140, 207);
  border: none;
  border-radius: 12px;
  color: aliceblue;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  padding: 1rem;

}
